#title {
    color: navy;
    margin-left: 20px;
}

#img-div {
    
    /* grid-template-columns: auto; */
    /* align-self: center; */
    display: flex;
    /* height: 500px; */
    flex-direction: column;

}

img {
    /* display: flex; */
    /* align-items: center; */
    align-self: center;

    /* max-width: 100%;  */
    max-width: 36%;
    height: auto;
}

#img-caption {
    display: flex;
    justify-content: center;
}

#title {
    display: flex;
    justify-content: center;
}

/* #tribute-info {
    display: flex;
    justify-content: justify;
} */

